/*
  style for the "style" example in class 20
  Jon Beck
*/

body
{
  margin-left: 25px;
  font-family: sans-serif;
}

#lyrics
{
  border: 1px solid black;
}

#lyrics > p
{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.familynormal
{
  font-family: normal;
}

.familymono
{
  font-family: monospace;
}

.familyfantasy
{
  font-family: fantasy;
}

input[type="radio"]
{
  margin-right: 2em;
}
